body {

    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "montserrat";
    font-weight: 700;
}

p {
    color: #bfbfbf;
}

/* HEadings */
.big-heading {
    size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.pricing-header {
    font-size: 3rem;
    line-height: 1.5;

}
/* Containers */
.container-fluid {
    padding: 7% 15%;
}
/* Sections */
.colored-section{
    color: #fff;
    background-color: #ff4c68;
}
.white-section{
    color: #000;
    background-color: #fff;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 100;
}

/* Download Button */
.download-button {
    margin: 5% 3% 5% 0;
}
/* Title */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;

}


/* Title Image */
.title-image {
    transform: rotate(25deg);
    width: 60%;
}

.positioning-img {
    position: absolute;
    right: 0%;

}

/* Features */
#features {
    position: relative;
}

.Features-icon {
    color: #cf8172;
    margin-bottom: 10px;
}

.Features-icon:hover {
    color: #ff4c68;

}

.features-box {
    padding: 2rem;
}

.features-title {
    line-height: 1.5;
}

/* Testimonials */
#testimonials {
    background-color: #cf8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* Press */
#press {
    background-color: #cf8172;
    padding-bottom: 3%;
}

.press-image {
    width: 10%;
    margin: 20px 20px 50px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* pricing */
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    line-height: 1.5;
    font-size: 3rem;

}

.pricing-title {
    line-height: 1.5;
}

/* CTA */

.cta-header {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    padding: 3% 7%;
}

/* Footer */
.icon {
    color: rgb(56, 55, 55);
    padding: 10px;

}

@media (max-width: 1000px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
    }
}